<h1><%= @number_of_dice %>d<%= @number_of_sides %></h1>

<p><a href="">Roll again</a> | <a href="/">Go back home</a></p>

<ol>
  <% @rolls.each do |a_roll| %>
    <li>
      <i>Result:</i> <b><%= a_roll %></b>
    </li>
  <% end %>
</ol>
